Accept and Content-Type header format for Notiating versions is incorrect and cannot be implemented in some cases

For both headers the content is the following according to the recent [updated header documentation](https://osdm.io/spec/technical-principles/#versionNegotiation): `application/osdm-json, version 3.5` (or `application/osdm-json, version 3.5.0` for full version description)

However this is not compliant with 2 RFCs regarding Media Type specification (MIME) which the `Content-Type` and `Accept` headers are supposed to follow (I will get to that later on as an exemple).

It should look like `application/x.osdm+json; version=3.5` according the following explanations in collapsed sections for clarity.

---

<details> 

<summary>RFC breakdown and justification</summary>

[RFC 9110 section 8.3.1. Media Type](https://datatracker.ietf.org/doc/html/rfc9110#name-media-type) states that the `Content-Type`  and `Accept` headers' type/subtype "MAY be followed by **semicolon-delimited** parameters ([Section 5.6.6](https://datatracker.ietf.org/doc/html/rfc9110#parameter)) in the form of name/value pairs". [Section 5.6.6](https://datatracker.ietf.org/doc/html/rfc9110#parameter) defines parameter structure using the name/value pair system to use the following structure `parameter = parameter-name "=" parameter-value` thus needing also the `=` sign between `version` and `3.5`

[RFC 6838 section 4.2.8. Structured Syntax Name Suffixes](https://datatracker.ietf.org/doc/html/rfc6838#section-4.2.8) and [RFC 6839]https://datatracker.ietf.org/doc/html/rfc6839) (as an informational piece accompanying the previous Best Practice) states that MIME subtype can be defined using a subtype `+suffix` after a media type representing a compatible MIME type, namely here `+json` is formalized  here.

Finally if we are to do this properly I would also like to provide [RFC 6838 section 3.2. Vendor Tree](https://datatracker.ietf.org/doc/html/rfc6838#section-3.2) as well the next 2 sections ([3.3 Personal or Vanity Tree](https://datatracker.ietf.org/doc/html/rfc6838#section-3.3)  and [3.4 Unregistered x. Tree](https://datatracker.ietf.org/doc/html/rfc6838#section-3.3)) indicates how non standard global IANA subtypes are to be specified. If we are not to submit our `osdm` subtype to IANA either under the vendor or the personal trees it should be specified using the unregistered tree standard as `x.osdm`. However as we develop it may be interesting to go through the effort  and register it as a `vnd.uic.osdm` eventually (not the scope, just and idea) as we are an open standard.

tl;dr: condensed version of how it should look like available by reading the [Zalando API guide about media type versioning](https://opensource.zalando.com/restful-api-guidelines/#113)

</details> 

---

<details> 

<summary>Impossible implementation example with FastAPI</summary>

FastAPI implement a rather strict check only on the `Content-Type` header but that is enough to break everything.

[FastAPI looking for `json` or something ending with `+json` as media subtype](https://github.com/fastapi/fastapi/blob/9ab43cc5eda66c7622ea8f4ecf70f76b7499d772/fastapi/routing.py#L261C79-L261C84). This makes a `osdm-json` impossible to use because FastAPI will just throw a `RequestValidationError` and end the flow right away.

A bit above this like we obtain the subtype `get_content_subtype` of the `mail` python library that fetches the complete type using `get_content_maintype`  that calls [`_splitparam`](https://github.com/python/cpython/blob/f00512db20561370faad437853f6ecee0eec4856/Lib/email/message.py#L29) that is used to separate the maintype/subtype structure from the parameters by looking for a `;`. This makes the use of the `,` as the separator impossible to use when a version is provided and thus FastAPI will also break there because the subtype returned will not be correct (it would be `osdm-json,version=3.5` in this case because compliant parameters were not found).

</details> 




OSDM has an official MIME type registered but we have not started to use it.

https://www.iana.org/assignments/media-types/application/vnd.uic.osdm+json

I would argue this is not an improvement tag (or not only) but (also) a bug, in the current state of the documentation the headers are impossible to implement or use in some frameworks and languages without important custom modification (like maintaining a fork  and in general are non compliant with RFCs in a rather breaking way. (I know it's just tagging but still ^^)

with the additional information the headers should rather read `application/vnd.uic.osdm+json; version=3.5` then (unless we have a good reason not to use it yet?)

@jspetrak @ralfbayer-db I think the version parameter in the updated documentation is still missing the `=` between the name and value as mentioned by @VelvetteMind and described here https://datatracker.ietf.org/doc/html/rfc9110#parameter